<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-4">
      <%= simple_form_for [@cocktail, @dose] do |d| %>
        <%= d.input :description %>
        <%= d.input :ingredient_id, collection: Ingredient.all, prompt: "choose an ingredient"%>
        <%= d.button :submit %>
      <% end %>
    </div>
    <div class="col-xs-12 col-sm-6 col-sm-offset-4">
      <h1><%= link_to @cocktail.name, cocktails_path %></h1>
      <%= image_tag @cocktail.picture.url(:medium) %>
      <p><%= link_to "destroy", cocktail_path(@cocktail), method: :delete %></p>
      <ul>
        <% @cocktail.doses.each do |dose|%>
          <li><%= dose.description %> de <%= dose.ingredient.name %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>


